<div class="flex pt-12 px-6 md:px-20 items-center justify-center bg-[#17120D] md:h-screen overflow-hidden">
  <div class="flex flex-col gap-6 md:flex-row items-center max-w-8xl">
    <div class="w-full md:w-1/2 lg:pr-0">
      <h2 class="text-4xl lg:text-5xl text-center md:text-left font-bold leading-tight text-white">MCBlock</h2>
      <h2 class="text-4xl lg:text-5xl text-center md:text-left font-bold leading-tight text-brown-h2">Launcher</h2>
      <article
        class="mt-2 md:mt-2 text-md lg:text-xl text-center md:text-left tracking-wider leading-relaxed text-white">
        MCBlock Launcher, expertly crafted for Equitopia
        to elevate your Minecraft experience to new heights!
        Designed with precision and innovation, this launcher
        is tailored to enhance every aspect of your gameplay journey.
        Whether you're diving into mods, exploring new textures,
        or switching between Minecraft versions, MCBlock Launcher
        provides seamless access to everything you need. Unlock new
        features, immerse yourself in endless adventures, and enjoy
        optimized performance – all in one powerful launcher.</article>
      <div class="mt-10 flex flex-col sm:flex-row justify-center md:justify-start">
        <a class="bg-[#AD5E05] btn btn-ghost w-full sm:w-64 p-2 rounded-lg text-md text-black border-none">
          <img src="/static/windows.svg" class="mr-2">
          Download for Windows
        </a>
      </div>
    </div>

    <!-- Wrapper for the image and background -->
    <div class="relative w-full md:w-1/2 flex py-8 justify-center">
      <!-- Background with blur effect -->
      <div
        class="absolute inset-0 rounded-[444px] bg-gradient-to-br from-[#381F02]/[0.13] via-[#572E01]/[0.13] to-[#B05900]/[0.13] filter blur-xl">
      </div>
      <!-- Image in front of the background -->
      <img src="/static/logo2-big.svg" class="w-64 h-64 relative z-10">
    </div>

  </div>
</div>
