<div class="bg-[#17120D]">
  <div class="container mx-auto px-4 py-16 md:py-24">
    <!-- Image grid -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <div class="flex flex-col justify-center">
        <div class="bg-black rounded-xl card">
          <h2 class="text-center text-xl md:text-2xl font-semibold text-white px-4 py-4">Download & Update Mods</h2>
          <div class="text-white px-4 md:px-6 lg:px-8 py-4 pb-8 md:pb-10">
            Are you sick of finding and adding that one mod you need?
            MCBlock Launcher is able to download & update individual
            mods from outside of modpacks using Modrinth and
            CurseForge.
          </div>
        </div>
      </div>
      <div class="flex justify-center items-center mt-8 md:mt-16">
        <img src="/static/image_3.png" alt="Image 3" class="w-full max-w-sm object-contain">
      </div>
      <div class="flex justify-center items-center mt-8 lg:mt-0">
        <img src="/static/image_4.png" alt="Image 4" class="w-full max-w-sm object-contain">
      </div>
    </div>
  </div>
</div>
